@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source-sans-pro, sans-serif;
    font-weight: 300;
    color: #252525;
    background: url('../images/contact.webp') no-repeat center;
    background-size: cover;
}


/* logo and nav bar */ 


.header-container {
    display: flex;
    justify-content: space-between;
    margin: .7rem;
}



.header-navbar {
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
    padding: 2rem;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.4);
}

.header-navbar li {
    font-size: 120%;
    color: #252525;
    flex-grow: 1;
    flex-shrink: 1;
}

.header-navbar a {
    text-decoration: none;
    color: inherit;
}

.header-navbar a:hover {
    border-bottom: 1px solid #252525;
}

.active {
    border-bottom: 1px solid #252525;
}


/* contact sectiom */

.contact-container {
    height: 100vh;
    margin: 0.3rem;
    display: flex;
    flex-direction: row;
}


.contact-item {
    height: 60rem;
    margin: 0.3rem;
    display: flex;
    flex-direction: row-reverse;
}


.signup-form {
    align-self: flex-end;
    margin: 10rem;
    max-width: 25%;
    padding: 3rem;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    
    
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height:25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #252525;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #252525;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #252525;
}


/* footer */


footer {
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.4);
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 2%;
    padding: 5%;
    color: #252525;
}

footer > p {
    text-align: center;
}