@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Source-sans-pro, sans-serif;
    font-weight: 300;
    color: #252525;
}

/* logo and nav bar */ 

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.header-logo {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: .2ch;
    padding: 1rem;
    color: #252525;
    text-decoration: underline;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    margin-right: 3rem;
    padding: 1.5rem;
    list-style: none;
}

.navbar li {
    font-size: 135%;
    color: #252525;
    flex: 1 1 0;
    padding: 0 1rem;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    border-bottom: 1px solid #252525;
}

.active {
    border-bottom: 1px solid #252525;
}

/* hero image */

.hero-container {
    display: flex;
    min-height: 70rem;
    justify-content: center;
}

.hero-image {
    width: 85vw;
    margin: 2rem 0 0 2rem;
    padding: 1.5rem 0;
    align-items: center;
    background: url('../images/hero-image.webp') no-repeat center;
    background-size: contain;
}

/* about us section */

.about-header {
    font-family: Montserrat, sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    color: #252525;
}
    
.about-container {
    min-height: 80vh;
    margin: 6rem 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
    
.about-sides {
    margin: 2rem ; 
    padding: 4rem 2rem;
    min-height: 20rem;
    width: 100%;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.8rem;
}

.about-sides h2 {
    text-decoration: underline;
    margin: 1rem 0;
}

.about-sides li {
    line-height: 3.5rem;
    list-style-type: none;
}

.about-middle {
    margin: auto; 
    padding-top: 8rem;
    height: 25rem;
    width: 100%;
    background: url('../images/middle-image.webp') no-repeat center;
    background-size: cover;
    border: 2px solid #252525;
}

/* kids and schedule section */

.kids-times-header {
    font-family: Montserrat, sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    color: #252525;
}

.kids-times-container {
    min-height: 80vh;
    margin: 6rem 0.2rem;
    display: flex;
    flex-direction: row;
    border: 2px solid #252525;
}

.kids-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    background: url('../images/kids-image.webp') no-repeat center center;
    background-size: cover ;
}

.kids-item {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    width: 20rem;
    height: 20rem;
    margin: 5rem 4rem;
    font-size: 110%;
    line-height: 1.5rem;
    letter-spacing: .3ch;
    color: #fafafa;
    padding: 1.3rem;
    background-color: rgba(80, 105, 245, 0.5); 
}

.kids-item * {
    margin: .8rem;
    padding: .4rem;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}


.times-container {
    width: 100%;
    display: flex;
    background: url('../images/padel-field.webp') no-repeat center;
    background-size:  cover;
}

.times-items {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: center; 
    
    width: 100%;
    min-height: 30rem;
    padding: 1.5rem;
    color: #fafafa;
    background-color: rgba(54, 53, 53, 0.5);
    font-size: 1.5rem;
    line-height: 4rem;
    letter-spacing: .1rem;
    text-align: center;
}

.times-items h2 {
    font-family: Montserrat, sans-serif;
    text-decoration: underline;
    letter-spacing: .3rem;
    margin-bottom: 2px;
}

/* footer */

footer {
    height: 10%;
    width: 100%;
    position: absolute;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 4rem;
    margin: 1rem;
    padding: .2rem 2rem;
    color: #252525;
}

footer div > p {
    text-align: center;
}


/* media queries */

/* for a max width of 1200px (desktop) */
@media screen and (max-width: 1200px) {
    .navbar li {
        font-size: 120%;
    }

    .hero-container {
        min-height: 45rem;
    }
}

/* for a max width of 992px (laptops) */
@media screen and (max-width: 992px) {
    .navbar li {
        padding: 1.2rem;
    }
    
    .about-container {
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        margin: 0 0.3rem;
        }
    
    .kids-times-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        overflow: hidden;
        margin: 2rem .3rem;
    }
}

/* for a max width of 768px (tablets) */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

/* for a max width of 576px (mobile) */
@media screen and (max-width: 576px) {
    .hero-container {
        min-height: 40rem;
        margin: 0 auto;
    } 

.hero-image {
    margin: 0 auto;
    padding: 0;
    background-size: auto 70%;
    }

.about-sides {
    margin: 2rem auto;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2.8rem;
    }

  .kids-container {
    flex-direction: column;
    }

.times-container {
    flex-direction: column;
    }

.social-networks i {
    padding: .2rem 1rem;
    }
}