@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source-sans-pro, sans-serif;
    font-weight: 300;
    color: #252525;
}

/* headings and logo */

h1, h2, #logo {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
    line-height: 75px;
}

/* navigation menu */

#navbar {
    font-size: 100%;
    letter-spacing: 3px;
    line-height: 75px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 1px solid #252525;
}

.active {
    border-bottom: 1px solid #252525;
}

/* hero section and image */

#hero-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: url('../images/hero_image.webp') no-repeat center center; alt: "Padel blade racket hanging on the net";
}


/* about us section */

#about-us-section {
    height: 600px;
    margin-top: 50px;
    margin-bottom: 300px;
}

#about-us-logo {
    font-size: 180%;
    text-align: center;
    line-height: 75px;
}

#about-us-left {
    float: left;
    padding-top: 30px;
    width: 50%;
}

#about-us-right {
    float: right;
    width: 50%;
    height: inherit;
    margin: auto;
    /* margin-top: 25px;
    margin-bottom: 180px; */
    background: url(../images/right_image2.webp);
    scale: 0.8;
}

.who-what {
    font-size: 110%;
    width: 70%;
    float: left;
    clear: both;
    line-height: 25px;
    letter-spacing: 2px;
    margin: 50px;
    padding-left: 50px;
} 

.who-what h2 {
    text-decoration: underline;
    margin: 10px;
}

.who-what li {
    padding: 10px;
    margin-left: 35px;
}

/* kids and schedule section */

#kids-schedule-section {
    height: 800px;
    margin: 10px;
}

#kids {
    float: left;
    height: 600px;
    width: 50%;
    position: relative;
    background: url(../images/kids-image.webp); 
}

#schedule {
    float: right;
    height: 600px;
    width: 50%;
    background-color: aquamarine;
}

#kids-cover-text {
    /* font-size: 110%; */
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;

    width: 400px;
    height: 200px;

    padding-top: 40px;
    padding-left: 20px;

    background-color: rgba(141, 157, 245, 0.5);

    bottom: 30px;
    right: 180px;

    position: absolute;
}